#kaocha/v1
#profile
{:default
 {:tests [{:id :unit
           :test-paths ["test"]
           :kaocha.filter/skip-meta [:integration]}]
  :plugins [:kaocha.plugin/randomize]}

 :integration
 {:tests [{:id :unit
           :test-paths ["test"]}]
  :plugins [:kaocha.plugin/randomize]}}
